*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}


.header{
    
    background-color: rgb(0, 0, 0);
    
}

.container{
    
    width: 80%;
    background-color: rgb(0, 0, 0);
    margin: auto;
    overflow: hidden;
}

.cars{
    width: 40%;
    
    float: left;
    padding: 30px;
    
    
}

.cars a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;

}

.unorderd{
    width: 60%;
    
    float: left;
    list-style: none;
}

li{
    display: inline-block;
    padding: 30px 15px;
    
}

li a {
    text-decoration: none;
    letter-spacing: 0.5px;
    color: white;
}


.home{
    background-image: url(images/welcome-hero/welcome-banner.jpg);
    height: 100vh;
    background-position: center;
    opacity: 0.5;
    
}

.home-content{
    position: absolute;
    text-align: center;
    
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.home-content h1{
    font-size: 2rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: white;

}

.home-content h3 {
    padding: 40px;
    font-size: 20px;
    color: white;
    letter-spacing: 0.5px;
}

.home-content .btn {
    padding: 20px 70px;
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 0.9rem;
    background-color: rgb(35, 56, 191);

}